.DS_Store
.idea/
.vscode/
vendor/
develop/
coverage/
test.php
/nbproject/private/
/nbproject/
/composer.lock
/composer.phar
/Samples/tan.txt
/Samples/*.test.php
/Samples/*.log
/Samples/analyzeLogs.php
/Samplesstate.txt
/Samples/state.txt
/Samples/session_*
/doc/
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache