.DS_Store
.idea/
vendor/
develop/
coverage/
test.php
/nbproject/private/
/nbproject/
/composer.lock
/composer.phar
/Samples/accounts.log
/Samples/standingOrders.log
/Samples/config.php
/Samples/tan.txt