.DS_Store
.idea/
vendor/
develop/
coverage/
test.php
/nbproject/private/
/nbproject/
/composer.lock
/composer.phar
/Samples/tan.txt
/Samples/*.test.php
/Samples/*.log
/Samples/analyzeLogs.php
/doc/
.phpunit.result.cache
.php_cs.cache
